# uep239 Final project: Where the Book Worms Go
## By Kees Schipper

### Start by loading in all libraries in one cell. 
This cell is going to be adjusted while writing the notebook based on what packages I might need

In [5]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import geopandas as gpd

import rasterio
from rasterio.plot import show
from rasterio import features

import richdem as rd
from scipy import ndimage
from shapely.geometry import box
from rasterstats import zonal_stats
import os

# finally, check working directory to see where we are in our file structure
os.getcwd()

'C:\\Users\\keess\\OneDrive\\Documents\\Tufts Friedman School\\Semester 4\\Geospatial Programming with Python\\uep239FinalProj\\Data'

### Change current working directory to the data folder for easier reading of files

In [4]:
os.chdir("../Data")

### Start reading in data files

In [45]:
# tabular data
AgeSex = pd.read_csv("AgeACS.csv", header = 0, skiprows=[1])
Edu = pd.read_csv("EduAttainmentACS.csv", header = 0, skiprows = [1])

# select only columns that have data of interest to you, plus columns containing primary keys
AgeSex_cols = AgeSex[['GEO_ID', 'NAME', 'S0101_C01_022E', 'S0101_C01_026E']].copy()
Edu_cols = Edu[['GEO_ID', 'NAME', 'S1401_C03_010E', 'S1401_C04_010E']].copy()

# rename columns to be more intuitive
AgeSex_cols = AgeSex_cols.rename(columns = {"S0101_C01_022E":"popUnder18", "S0101_C01_026E":"popOver18"})
Edu_cols = Edu_cols.rename(columns = {"S1401_C03_010E":"popInCollege", "S1401_C04_010E":"pctInCollege"})

print(AgeSex_cols.columns)
print(Edu_cols.columns)

ValueError: could not convert string to float: '-'

#### Let's also look at some basic descriptions of our data to see what we're dealing with

In [40]:
AgeSex_cols.describe()

         popUnder18     popOver18
count    537.000000    537.000000
mean    2553.556797  10203.417132
std     2702.400435  10291.627226
min        0.000000      0.000000
25%      404.000000   2141.000000
50%     1656.000000   6988.000000
75%     3771.000000  14533.000000
max    16734.000000  51217.000000

In [46]:
Edu_cols.describe()

       popInCollege
count    537.000000
mean     519.957169
std      859.161892
min        0.000000
25%       74.000000
50%      282.000000
75%      600.000000
max    10248.000000

Interesting...it seems like pctInCollege is not a numeric object. Let's explore why that is

In [49]:
print(Edu_cols.dtypes) # pctInCollege is an object, likely meaning there is some type of character string preventing it from being numeric
print(Edu_cols.pctInCollege.unique())

GEO_ID          object
NAME            object
popInCollege     int64
pctInCollege    object
dtype: object
['48.8' '75.7' '90.7' '72.1' '62.8' '37.8' '0.0' '40.3' '75.3' '100.0'
 '60.4' '72.3' '72.4' '65.5' '70.5' '66.1' '-' '56.1' '30.6' '60.0' '64.9'
 '74.7' '77.2' '61.3' '78.3' '77.0' '81.1' '87.8' '62.3' '66.5' '41.4'
 '35.4' '56.0' '64.3' '48.5' '82.4' '64.4' '36.8' '73.4' '87.3' '90.1'
 '78.1' '75.5' '81.3' '90.4' '61.5' '72.8' '40.0' '61.1' '57.6' '50.0'
 '81.6' '85.7' '24.6' '71.9' '79.8' '63.9' '44.4' '91.0' '63.8' '83.6'
 '63.3' '62.7' '93.4' '63.7' '21.5' '77.1' '58.8' '35.8' '72.2' '27.8'
 '76.2' '56.3' '65.4' '37.0' '57.1' '19.6' '55.6' '24.2' '82.8' '68.8'
 '86.7' '91.1' '46.9' '66.7' '47.2' '84.2' '87.1' '47.7' '85.0' '85.2'
 '63.2' '46.0' '72.7' '68.4' '76.6' '97.7' '50.8' '71.8' '57.9' '47.9'
 '43.5' '84.5' '58.6' '70.7' '67.3' '71.0' '78.7' '67.4' '47.3' '84.3'
 '81.0' '91.8' '90.2' '67.2' '65.1' '34.9' '78.5' '61.6' '69.4' '83.5'
 '47.6' '54.6' '88.4' '54.9' '49.9' '71.2' '64.5' '61.2' '42.6' '39.7'
 '62.5' '39.2' '51.5' '79.6' '71.4' '51.2' '59.3' '53.7' '42.5' '78.8'
 '52.0' '75.4' '36.9' '59.1' '62.4' '65.0' '78.2' '49.8' '63.4' '55.2'
 '67.1' '59.9' '34.3' '21.8' '26.0' '29.2' '53.0' '77.8' '48.7' '51.4'
 '56.5' '58.0' '70.2' '47.4' '46.8' '71.7' '87.0' '50.1' '68.1' '53.8'
 '61.7' '74.6' '68.5' '46.7' '58.7' '41.8' '80.3' '37.2' '48.2' '33.1'
 '62.9' '55.4' '78.0' '67.7' '44.1' '64.8' '74.3' '38.3' '72.6' '94.5'
 '74.9' '70.6' '60.3' '69.0' '60.6' '58.1' '62.1' '54.1' '40.9' '66.2'
 '82.9' '69.1' '61.9' '53.1' '36.5' '71.1' '34.4' '49.4' '20.9' '28.3'
 '50.5' '82.1' '66.9' '69.6' '37.5' '80.0' '25.1' '16.8' '41.6' '70.8'
 '28.5' '43.4' '87.7' '48.3' '29.7' '39.0' '53.2' '32.9' '42.8' '74.2'
 '40.6' '46.3' '69.5' '53.3' '40.1' '11.5' '41.7' '31.3' '14.6' '12.3'
 '14.8' '5.8' '11.7' '25.0' '59.5' '9.2' '57.4' '64.0' '60.2' '39.4'
 '40.7' '25.2' '52.8' '48.9' '14.3' '24.4' '59.0' '11.0' '14.9' '28.7'
 '9.5' '15.0' '22.7' '43.9' '51.6' '73.7' '67.9' '48.1' '22.3' '1.3'
 '44.2' '56.4' '52.4' '27.5' '63.5' '49.5' '6.7' '26.9' '5.6' '54.2'
 '83.9' '42.1' '63.6' '54.4' '80.9' '46.1' '39.9' '32.2' '65.9' '51.9'
 '55.8' '84.4' '59.6' '31.2' '35.0' '22.5' '11.4' '35.3' '12.6' '21.3'
 '7.7' '13.6' '31.9' '48.6' '31.0' '16.9' '6.5' '8.4' '27.9' '38.0' '43.2'
 '36.2' '8.5' '9.8' '15.1' '16.5' '71.3' '47.1' '85.4' '91.6' '69.2'
 '83.2' '82.2' '45.7' '86.9' '73.0' '22.0' '81.8' '13.7' '94.2' '78.6'
 '88.1' '93.5' '91.3' '47.5' '45.9' '58.9' '16.7' '78.4' '21.4' '88.5'
 '86.1' '87.6' '70.9' '74.4' '77.9' '65.2' '71.5' '49.1' '84.8' '85.8'
 '85.5' '87.9' '31.7' '54.3' '69.3' '68.6' '40.8' '77.4']

In the unique values, we see that there is one entry that is a `'-'` instead of a number, which is preventing python from interpreting this series as a float. Let's remove that string value and change it to 0.0, then we can convert the series to a float.

In [53]:
# replace the problematic string
Edu_cols.pctInCollege = Edu_cols.pctInCollege.str.replace(pat = '-', repl = '0.0', regex = False)

# change the series into a float data type
Edu_cols.pctInCollege = Edu_cols.pctInCollege.astype("float")

AttributeError: Can only use .str accessor with string values!

In [56]:
# check the dtype and unique values of the series
print(Edu_cols.pctInCollege.dtype)
Edu_cols.describe()

float64

       popInCollege  pctInCollege
count    537.000000    537.000000
mean     519.957169     55.576536
std      859.161892     25.895560
min        0.000000      0.000000
25%       74.000000     40.700000
50%      282.000000     60.300000
75%      600.000000     74.400000
max    10248.000000    100.000000